html,
body {
    margin: auto;
    padding: 0;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-content: center;
    align-items: center;
}

canvas {
    cursor: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.game_start {
    background: url("../assets/startgame.jpg") no-repeat center center fixed;
}

.game_over {
    background: url("../assets/gameover.jpg") no-repeat center center fixed;
}

#player_score {
    display: none;
    margin: 2% 25%;
    background: #4d0835;
    padding: 50px;
    border-radius: 50%;
    color: #fefefe;
    font-weight: 600;
}

#space_btn_start_game {
    padding: 20px 60px;
    outline: none;
    background-color: #1e2a2d;
    border: none;
    border-radius: 2px;
    box-shadow: 0 9px #1e2a2d;
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    margin: 0 0 0 100px;
    color: #ffffff;
    margin-top: 90%;
    transition: .3s ease-in;
}

#space_btn_start_game:hover {
    background-color: #2a2025;
    border: none;
    border-radius: 3px;
    box-shadow: 0 9px #2a2025;
    color: #fee;
}

#space_btn_play_again {
    padding: 10px 30px;
    outline: none;
    background-color: #271E2D;
    border: none;
    border-radius: 3px;
    box-shadow: 0 4px #2B1E2D;
    text-align: center;
    cursor: pointer;
    font-size: 22px;
    margin: 0 0 0 100px;
    color: #ffffff;
    width: 170px;
    transition: .25s ease-in;
}

#space_btn_play_again:hover {
    background-color: #19CACA;
    border: none;
    border-radius: 6px;
    box-shadow: 0 6px #34B6B6;
    color: #1a1a1a;
}